/* CSS declarations go here */
.wc-main {
  width: 100%;
}

@media (min-width: 1000px) {
  .shortName {
    display: none
  }
  .wc-main {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (max-width: 999px) {
  .completeName {
    display: none
  }
}

@media (max-width: 999px) {
  /* only-on-large */
  .ool {
    display: none
  }
}

@media (min-width: 1000px) {
  /* only-on-small */
  .oos {
    display: none
  }
}

.tab-icon {
  line-height: inherit;
  font-size: 250%;
}
