head
  meta(name="viewport" content="initial-scale=1")
  title mdl-meteor-sample

template(name="layout")
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
    header.mdl-layout__header
      div.mdl-layout__header-row
        span.mdl-layout-title
          a(onclick='window.history.back()' style='color:white')
            i.material-icons.mdl-navigation__link arrow_back
        div.mdl-layout-spacer
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
          label.mdl-button.mdl-js-button.mdl-button--icon(for="fixed-header-drawer-exp")
            i.material-icons search
          div.mdl-textfield__expandable-holder
            input.mdl-textfield__input#fixed-header-drawer-exp(type="text" name="sample")
    div.mdl-layout__drawer
      span.mdl-layout-title Web Campus
      nav.mdl-navigation
        a.mdl-navigation__link Home
        a.mdl-navigation__link Asistencias
        a.mdl-navigation__link Boletin
        a.mdl-navigation__link Salir
    main.mdl-layout__content
      div.page-content
        +yield

template(name="course")
  div.transitions-content
    div.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
      div.mdl-tabs__tab-bar
          a.mdl-tabs__tab.is-active(href="#subjects-panel") Materias
          a.mdl-tabs__tab(href="#students-panel") Alumnos
          a.mdl-tabs__tab(href="#attendances-panel") Asistencias
      div.mdl-tabs__panel.is-active#subjects-panel
        +subjects
      div.mdl-tabs__panel#students-panel
        +students
      div.mdl-tabs__panel#attendances-panel
        ul
          li Viserys
          li Daenerys

template(name='examen')
  div.transitions-content
    table.mdl-data-table.mdl-js-data-table
      thead
        tr
          th.mdl-data-table__cell--non-numeric Name
          th Age
          th ID Number
          th 
      tbody
        tr
          td.mdl-data-table__cell--non-numeric Tomas Romero
          td 25
          td 49021
          td
            i.material-icons keyboard_arrow_right
        
        tr
          td.mdl-data-table__cell--non-numeric Sophia Carson
          td 32
          td 10258
          td
            i.material-iconskeyboard_arrow_right
        
        tr
          td.mdl-data-table__cell--non-numeric Steve Moreno
          td 29
          td 12359
          td
            a(href='/')
              i.material-icons keyboard_arrow_right
