/* CSS declarations go here */
table {
  width: 100%;
}
@media (min-width: 1000px) {
  .shortName {
    display: none
  }
  table {
    width: 70%;
    margin-left: 15%;
  }
}
@media (max-width: 999px) {
  .completeName {
    display: none
  }
}

@media (max-width: 999px) {
  .only-on-large {
    display: none
  }
}
