div.demo-card-square.mdl-card.mdl-shadow--2dp
  div.mdl-card__title.mdl-card--expand
    h2.mdl-card__title-text Asistencias
  div.mdl-card__supporting-text
    span.mdl-badge#tt2(data-badge='10') Total
    br
    br
    div
      span.mdl-badge.mdl-badge--no-background#faltas(data-badge='7') Faltas
      span.mdl-badge(data-badge='6') 1/2 Faltas
      span.mdl-badge.mdl-badge--no-background(data-badge='40') Presentes
div.mdl-tooltip.mdl-tooltip--large(for='faltas')
  div Viernes 27/03/2015
  div Martes 05/04/2015
  div Martes 15/05/2015

