div.mdl-grid.wc-main
  label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="switch-1")
    input.mdl-switch__input#switch-1(type="checkbox" checked)
    span.mdl-switch__label Notas
  label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="switch-2")
    input.mdl-switch__input#switch-2(type="checkbox" checked)
    span.mdl-switch__label Asistencias
  label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="switch-3")
    input.mdl-switch__input#switch-3(type="checkbox" checked)
    span.mdl-switch__label Comunicados
