div.demo-card-event.mdl-card.mdl-shadow--2dp.wc-main
  with exam
    div.mdl-card__title.mdl-card--expand
      = description
    div.mdl-card__actions.mdl-card--border
      | Lunes 20 de Agosto
      div.mdl-layout-spacer
      i.material-icons event
