div.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
  header.mdl-layout__header
    div.mdl-layout__header-row
      // div.mdl-spinner.mdl-js-spinner.is-active
      +backButton
      div.mdl-layout-spacer
      +search
  +sideMenu
  main.mdl-layout__content
    div.page-content
      +yield
+meteorStatus lang='es'
