table.mdl-data-table.mdl-js-data-table.wc-main
  thead
    tr
      th.mdl-data-table__cell--non-numeric Titulo
      th.mdl-data-table__cell--non-numeric.ool Medio
      th.mdl-data-table__cell--non-numeric Fecha
  tbody
    each notifications
      tr
        td.mdl-data-table__cell--non-numeric= title
        td.mdl-data-table__cell--non-numeric.ool= medium
        td.mdl-data-table__cell--non-numeric Lunes {{formatDate date}}

