div.wc-main(style='text-align: center')
  div(style='display: inline-block')
    h1 Recupero de Contraseña
    div.mdl-textfield.mdl-js-textfield
      input.mdl-textfield__input#email(type='email')
      label.mdl-textfield__label(for='email') Email
    br
    div.mdl-textfield.mdl-js-textfield
      input.mdl-textfield__input#password(type='password')
      label.mdl-textfield__label(for='password') Contraseña
    br
    div.mdl-textfield.mdl-js-textfield
      input.mdl-textfield__input#password(type='password')
      label.mdl-textfield__label(for='password') Confirmar Contraseña
    br
    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored
      | Confirmar
    