if isDirective
  div(style='text-align:center')
    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.mdl-js-ripple-effect(style='margin:2%' href='/subida')
      | Upload
      i.material-icons file_upload
table.mdl-data-table.mdl-js-data-table.wc-main
  thead
    tr
      th.mdl-data-table__cell--non-numeric Nombre
      th.mdl-data-table__cell--non-numeric.ool Subido Por
      th.mdl-data-table__cell--non-numeric Fecha
      th
  tbody
    each resources
      tr
        td.mdl-data-table__cell--non-numeric= name
        td.mdl-data-table__cell--non-numeric.ool= created_by
        td.mdl-data-table__cell--non-numeric Lunes {{formatDate date}}
        td.mdl-data-table__cell--non-numeric
          a(href='', style='color:darkslateblue')
            i.material-icons.oos file_download
