button#demo-menu-lower-right.mdl-button.mdl-js-button.mdl-button--icon
  i.material-icons more_vert

ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='demo-menu-lower-right')
  li.mdl-menu__item.role-option(data-role='student') Estudiante
  li.mdl-menu__item.role-option(data-role='father') Padre
  li.mdl-menu__item.role-option(data-role='professor') Profesor
  li.mdl-menu__item.role-option(data-role='directive') Directivo
