div.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
  label.mdl-button.mdl-js-button.mdl-button--icon(for="fixed-header-drawer-exp")
    i.material-icons search
  div.mdl-textfield__expandable-holder
    input.mdl-textfield__input#fixed-header-drawer-exp(type="text" name="sample")
