div.mdl-layout__drawer
  span.mdl-layout-title Web Campus
  nav.mdl-navigation
    a.mdl-navigation__link(href='/') Home
    a.mdl-navigation__link(href='/configuracion') Configuracion
    a.mdl-navigation__link(href='/asistencias') Asistencias
    a.mdl-navigation__link(href='/boletin') Boletin
    a.mdl-navigation__link Salir
