table.mdl-data-table.mdl-js-data-table
  thead
    tr
      th.mdl-data-table__cell--non-numeric Nombre
      th.mdl-data-table__cell--non-numeric.only-on-large Telefono
      th.mdl-data-table__cell--non-numeric email
      th 
  tbody
    each students
      tr
        td.mdl-data-table__cell--non-numeric.completeName= completeName
        td.mdl-data-table__cell--non-numeric.shortName= shortName
        td.mdl-data-table__cell--non-numeric.only-on-large= profile.phoneNumber
        td.mdl-data-table__cell--non-numeric mail@gmail.com
        td
          a(href='/examen')
            i.material-icons keyboard_arrow_right
