div.wc-main(style='text-align:center')
  with student
    div.mdl-grid.mdl-typography--display-1-color-contrast
      div.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.ool Nombre
      div.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-phone.ool= completeName
      div.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-phone.oos= shortName
    div.mdl-grid.mdl-typography--display-1-color-contrast
      div.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.ool Telefono
      div.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-phone= profile.phoneNumber
    div.mdl-grid.mdl-typography--display-1-color-contrast
      div.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.ool Email
      div.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-phone some@email.com
